<head>
	
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SystemarteLabs</title>
		<meta name="description" content="SystemarteLabs Paginas desde 360 mil pesos" />
		<meta name="keywords" content="html5 template, css3, one page, animations, agency, portfolio, web design" />
		<meta name="author" content="Andres Felipe Botache Rojas" />

		<!-- Bootstrap -->
		
		<link rel='icon' href="/img/favicon.ico">		
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content="Systemartelabs"/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content="http://systemartelabs.com"/>
		<meta property="og:site_name" content="SystemarteLabs"/>
		<meta property="og:description" content="SystemarteLabs Paginas desde 360 mil pesos"/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
		<script>
		 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68683010-1', 'auto');
		  ga('send', 'pageview');
		  </script>
	
</head>
